#timer {
  margin: 40px auto;
  width: 100%;
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;
      background: rgba(0,0,0,0.5);
      margin: 0 20px;
      padding: 20px;
      -webkit-border-radius: 10%;
      -moz-border-radius: 10%;
      border-radius: 10%;
      min-width: 220px;
      box-sizing: border-box;

      span {
        color: white;
        text-align: center;
        display: block;

        &.number {
          font-size: 190px;
        }
        &.text {
          font-size: 40px;
        }
      }
    }
  }
}
